__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
outputs/*
!outputs/
!outputs/.gitkeep
!outputs/diagrams/
!outputs/profiles/
!outputs/diagrams/.gitkeep
!outputs/profiles/.gitkeep
inputs/*
!inputs/
!inputs/.gitkeep
